/*=============================
          GENERAL
===============================*/
.App {
  text-align: center;
}

@font-face {
  font-family: "Munale Loird";
  src: local("Munale Loird"), url(MunaleLoird.otf) format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

TODO/* add Caveat for hand-written text. Munale - for h1 and possibly logo*/ 


/*=============================
          HEADINGS
===============================*/

.h4123 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Munale Loird";
}
/*=============================
          HEADER
===============================*/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: #f7f6f4;
}

.logoImg {
  height: 75%;
  border-radius: 50%;
}

.nav-links {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  display: inline-block;
  position: relative;
  color: #a37f68;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 16px;
}

.nav-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  margin: -2px 0px;
  background-color: #a37f68;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.contactButtonDraft {
  background-color: #f7f6f4;
  color: #a37f68;
  border: 1px solid #a37f68;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin: -2px 0px;
}

.contactButtonDraft:hover {
  background-color: #a37f68;
  color: #f7f6f4;
  border: 1px solid #a37f68;
  transition: all 0.3s ease-in-out;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #a37f68;
  margin: 5px;
}

@media screen and (max-width: 2100px) {
  .nav-links {
    width: 35%;
  }
}

@media screen and (max-width: 1800px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 1500px) {
  .nav-links {
    width: 45%;
  }
}

@media screen and (max-width: 1200px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 1050px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 970px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 300px;
    top: 70px;
    background-color: #f7f6f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    justify-content: space-around;
  }
  .nav-links a {
    color: #a37f68;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

.nav-links-active {
  transition: navLinkFade 3s ease forwards;
}

/* TODO animate links better */
/* TODO click on another place to close burger */
/* TODO burger animation */
