/*=============================
          GENERAL
===============================*/
.App {
  text-align: center;
}

@font-face {
  font-family: "Munale Loird";
  src: local("Munale Loird"), url(MunaleLoird.otf) format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*TODO add Caveat for hand-written text. Munale - for h1 and possibly logo*/ 
